GROQ_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
DATABASE_URL=
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_FITLIFE_MOBILE_APP_URL=
NEXT_PUBLIC_FITLIFE_ANDROID_URL=
NEXT_PUBLIC_FITLIFE_IOS_URL=
REDIS_URL=redis://localhost:6379
FATSECRET_CLIENT_ID=
FATSECRET_CLIENT_SECRET=
FATSECRET_SCOPE=basic
FOOD_CACHE_TTL=604800
